 .container {
    background-color:rgb(42, 7, 87);
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    padding: 30px  50px;
  }
  
  .text-section{
    width: 50%;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: start;
    padding:30px 0px;
  }

  .header-text{
    padding: 10px;
  }

  h1, p{
    padding:0px;
    margin:0px;
  }

  .quote-text {
    font-weight: 700;
    font-size: 30px;
    padding-bottom:10px;
  }

  .sub-text{
    font-weight: 100;
    font-size:16px;
    width:60%;
    color:rgb(214, 215, 217);
    line-height: 25px;
  }

  .contact-details{
    margin-top: 70px;

  }

  ul li{
    list-style: none;
    padding:10px;
    font-size: 16px;
    width:60%;
    margin:5px;
  }

  .activeli{
    border:1px solid rgb(137, 29, 147);
    border-radius:5px;
    width: inherit;
  }

  .social-media{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 80px;
  }

  .icons{
    margin-left: 40px;
  }

  .active{
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: black;
  }

  .form-section{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  input::placeholder { 
    color: rgb(29, 10, 37);
    font-size:12px;
 }
  
  input:focus, textarea:focus { background-color: rgba(255,255,255,0.5); }
  
  .form-card{
    height:450px;
    width:330px;
    border-radius: 5px;
    background-color: #fff;
    padding:25px;
  }
  
  .form-comment {
    height: 13rem;
    resize: none;
  }
  
  .form-submit {
    box-sizing: border-box;
    appearance: none;
    background-color: rgb(137, 29, 147);
    border:none;
    border-radius: 0.5em;
    color: white;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
    margin-left: 210px;
    margin-top: 10px;
    padding: 1.2em 1em;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
  }

  label{
    margin-bottom: 5px;
    font-size: 13px;
    color:rgb(49, 13, 65);
    text-transform: uppercase;
  }

  input{
    width: 90%;
    padding:10px;
    margin:10px 0px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
  }

  textarea{
    width: 90%;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding:10px;
    border:none;
  }
  
 