<div class="container">
    <div class="text-section">
        <div class="content">

            <div class="header-text">
                <h1 class="quote-text">Get a quote</h1>
                <p class="sub-text">Fill up the form and out team will get back to you in next 24 hours</p>
            </div>

            <div class="contact-details">
                <ul>
                    <li><span><i class="fa-solid fa-phone"></i></span>+ 234 950 2394</li>
                    <li class="activeli"><span><i class="fa-solid fa-envelope"></i></span>Hello@flowbase.com</li>
                    <li> <span><i class="fa-solid fa-location-dot"></i></span>102 street  272 Don</li>
                </ul>
            </div>
            <div class="social-media">
                <div class="icons">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div  class="icons active">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div  class="icons">
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>  
        </div>
        
    </div>
    <div class="form-section" >
        <form class='form-card' [formGroup]="form">
            <div>
                <label>Your name</label><br/>
                <input class='form-first' type='text' placeholder='Fullname'  formControlName="name">    
            </div>
            <div>
                <label>Mail</label><br/>
                <input class='form-email' type='email' placeholder='Email'  formControlName="email">   
            </div>
            <div>
                <label>Message</label><br/>
                <textArea class='form-comment' placeholder='Comment...'></textArea>
            </div>
                <button (click) ="login()" [disabled]="!form.valid" class='form-submit' type="submit" >Send Message</button>
               <!-- <span> {{form.value || json}} </span> -->
        </form> 
</div> 