<div class="container">
    <div class="text-section">
        <div class="content">
            <div class="header-text">
                <h1>Get a quote</h1>
                <p>fill up the form and out team will get back to you in next 24 hours</p>
            </div>
            <div class="contact-details">
                <h1>Get a quote</h1>
                <p>fill up the form and out team will get back to you in next 24 hours</p>
            </div>
            <div class="social-media">
                <h1>Get a quote</h1>
                <p>fill up the form and out team will get back to you in next 24 hours</p>
            </div>  
        </div>
        
    </div>
    <div class="form-section">
        <div class='form-card'>
            <div>
                <label>Your name</label><br/>
                <input class='form-first' type='text' placeholder='Fullname'>    
            </div>
            <div>
                <label>Mail</label><br/>
                <input class='form-email' type='email' placeholder='Email'>   
            </div>
            <div>
                <label>Message</label><br/>
                <textArea class='form-comment' placeholder='Comment...'></textArea>
            </div>
                <button routerLink="/main" class='form-submit' type="submit" >Send Message</button>
          </div>
    </div>
</div>